<section class="sec1">
  <div class="container">
      <div class="sec1Cnt1">
          <div class="row ">
              <div class="col-lg text-center">
                  <h2>INSTANTLY Eliminate Mosquitoes in Any Area!</h2>
                  <h3 class="py-2 mb-4 px-4">100% Safe: No Toxic Chemicals or Odors</h3>
                  <a class="orderNwbtn" href="/checkout4/">GET 50% OFF ZAP GUARDIAN NOW</a>

              </div>
          </div>
      </div>
  </div>
</section>