<section class="sec2">
    <div class="container">
        <div class="sec2Cnt1">
            <div class="row">
                <div class="col text-center mb-4">
                    <h2>
                        The Ultimate Mosquito Death Trap
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-1 col-lg-5 order-lg-1 order-2">
                    <img class="img-fluid" src="/images/zap-specs.png">
                </div>
                <div class="col-lg-5 px-md-4 align-self-center  order-lg-2 order-1 mb-3">
                    <h4 class="mb-3">Zap Guardian delivers a powerful 360° anti-mosquito shield, ensuring you are free from annoying, biting insects once and for all.</h4>
                    <p class="mb-3">Its compact and portable design lets you take it anywhere, while the rechargeable battery provides long-lasting protection from all flying insects.</p>
                    <p class="mb-md-0 mb-3">Best of all, Zap Guardian is 100% safe to use around your kids and pets, with no DEET or harmful chemicals, and no unpleasant odors. Enjoy peace of mind and a mosquito-free environment with Zap Guardian!</p>
                </div>
            </div>
        </div>
    </div>
</section>