<section class="sec3">
    <div class="container">
        <div class="sec3Hd col-md-8 mx-auto">
            <h2 class="d-md-block d-none">Keep Your Family Bite-Free</h2>
            <h2 class="d-md-none d-block">Keep Your Family<br>Bite-Free</h2>
            <p class="mb-3 px-md-5">This advanced zapper quickly clears any area of mosquitoes, ensuring  your loved ones stay off the mosquito menu. Get fast and effective relief from pesky mosquitoes with this best-selling insect killer.</p>
        </div>
        <div class="col-md-9 mx-auto bg-white p-md-5 p-4">
            <div class="quote">
                <p class="px-md-5 p-3 py-md-3 text-center">“With mosquito-borne diseases like West Nile Virus and Zika virus on the  rise, bite prevention is more important than ever. That's why I only trust  Zap Guardian to keep my family bite-free. It's affordable, easy to use, and  mosquitoes don’t stand a chance against it. Give it a try, you’ll see a massive difference.”</p>
            </div>
            <div id="sticky-trigger" class="row mt-3">
                <div class="col d-flex justify-content-center px-4">
                    <div class="testiAr-img align-self-center">
                        <img src="/images/reviewer-icon.png" width="45" alt="">
                    </div>
                    <div class="testiAr align-self-center review-icon">
                        <p>James Morris, Environmentalist</p>
                        <p><img class="img-fluid ps-1" src="/images/shield-check.svg" alt="Stars"> <span class="text-green">Verified Purchaser</span> </p>
                    </div>
                </div>
                
            </div>
        </div>
</div></section>