<section class="sec7">
    <div class="container">
        <div class="offer p-md-4  p-4">
            <div class="row text-center">
                <div class="col d-md-block d-none">
                    <h2 class="fw-bold mt-3 ">
                        Exclusive Offer Today Only<br>
                        <span class="text-red">Limited Time Offer!</span>
                </h2></div>
                <div class="col  d-md-none d-block">
                    <h2 class="fw-bold mt-3 ">
                        Exclusive Offer<br> Today Only<br>
                        <span class="text-red">Limited Time Offer!</span>
                </h2></div>
            </div>
            <div class="row d-flex">
                <div class="offset-md-1 col-md-4">
                    <img class="img-fluid d-md-block d-none" src="https://purpleassets.blob.core.windows.net/web/zapguardian/zapper-90-left.png" alt="">
                    <img class="img-fluid d-md-none d-block py-3" src="https://purpleassets.blob.core.windows.net/web/zapguardian/zapper-90-right.png" alt="">
                </div>
                <div class="col-md-6 align-self-center">
                    <h4 class="text-red">Special LIMITED TIME Discount:</h4>
                    <h3>Get up to 50% OFF<br>Zap Guardian Now</h3>
                    <div class="d-flex mb-2 mt-3">
                        <img class="offer-icon" src="/images/icon-shipping.svg">
                        <p class="align-self-center  text-start">Fast shipping</p>
                    </div>
                    <div class="d-flex">
                        <img class="offer-icon" src="/images/icon-money.svg">
                        <p class="align-self-center text-start">
                            90-day money-back
                            guarantee
                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-3">
                <div class="col px-5 pt-md-0 pt-3">
                    <h5><a href="/checkout4/">Click Here to Claim Your 50% OFF Discount</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>