<section class="sec4">
    <div class="container px-md-1 px-4">
        <h2 class="d-md-block d-none">Why Customers are Loving<br>Zap Guardian</h2>
        <h2 class="d-md-none d-block">Why Customers are <br>Loving Zap Guardian</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="sec4Inr mb-4">
                    <img class="img-fluid" src="/images/review-01.png" alt="">
                    <div class="sec4Cnt">
                        <img class="img-fluid stars" src="/images/stars-5.svg" alt="">
                        <h5>Samantha R. <span>- Miami, FL</span></h5>
                        <h6><img class="img-fluid shield" src="/images/shield-check.svg" alt=""> Verified Purchaser</h6>
                        <p>Living in Miami means constant battles against mosquitoes, but this device has really helped. Now, I can enjoy my backyard without getting bitten</p>
                    </div>
                </div>
                <div class="sec4Inr">
                    <img class="img-fluid" src="/images/review-05.png" alt="">
                    <div class="sec4Cnt">
                        <img class="img-fluid stars" src="/images/stars-5.svg" alt="">
                        <h5>Grace <span>- Atlanta, GA</span></h5>
                        <h6><img class="img-fluid shield" src="/images/shield-check.svg" alt=""> Verified Purchaser</h6>
                        <p>I love being outdoors, but mosquito bites were a problem. This bug zapper changed that. Now I can relax outside without constantly swatting bugs away.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sec4Inr mb-4">
                    <img class="img-fluid" src="/images/review-02.png" alt="">
                    <div class="sec4Cnt">
                        <img class="img-fluid stars" src="/images/stars-5.svg" alt="">
                        <h5>Elena G. <span>- San Francisco, CA</span></h5>
                        <h6><img class="img-fluid shield" src="/images/shield-check.svg" alt=""> Verified Purchaser</h6>
                        <p>Even in a mild climate, this product works great. Now, evenings on my balcony are much more enjoyable without mosquitoes.</p>
                    </div>
                </div>
                <div class="sec4Inr mb-4">
                    <img class="img-fluid" src="/images/review-06.png" alt="">
                    <div class="sec4Cnt">
                        <img class="img-fluid stars" src="/images/stars-5.svg" alt="">
                        <h5>Sophia K.  <span>- Chicago, IL</span></h5>
                        <h6><img class="img-fluid shield" src="/images/shield-check.svg" alt=""> Verified Purchaser</h6>
                        <p>
                            Chicago summers are
                            short but sweet, except
                            for the mosquitoes. Zap Guardian has extended my outdoor enjoyment without the annoyance of those
                            pesky bugs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sec4Inr mb-4">
                    <img class="img-fluid" src="/images/review-03.png" alt="">
                    <div class="sec4Cnt">
                        <img class="img-fluid stars" src="/images/stars-5.svg" alt="">
                        <h5>Jenni B. <span>- San Francisco</span></h5>
                        <h6><img class="img-fluid shield" src="/images/shield-check.svg" alt=""> Verified Purchaser</h6>
                        <p style="letter-spacing:-0.21px">As an avid hiker, I just thought mosquito bites were part of the outdoor experience. But not anymore! Zap Guardian has kept me itch-free and bite-free on all my adventures. Highly recommend!</p>
                    </div>
                </div>
                <div class="sec4Inr mb-4">
                    <img class="img-fluid" src="/images/review-07.png" alt="">
                    <div class="sec4Cnt">
                        <img class="img-fluid stars" src="/images/stars-5.svg" alt="">
                        <h5>Lucas  <span>- Seattle, WA</span></h5>
                        <h6><img class="img-fluid shield" src="/images/shield-check.svg" alt=""> Verified Purchaser</h6>
                        <p>
                            Even in the Rocky Mountains, mosquitoes are a problem.
                            But this bug zapper has made camping trips much better.
                            No more sleeping with one
                            eye open!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>