<section class="sec10">
    <div class="container text-center">
        <div class="p-md-4">
            <div class="row bg-beige">
                <div class="col-12 mb-3">
                    <h2 class="px-3">The Guaranteed Mosquito Exterminator</h2>
                    <h4>100% Safe For You &amp; Your Family</h4>
                </div>
                <div class="col-12 text-center">
                    <a class="orderNwbtn" href="/checkout4/">GET 50% OFF ZAP GUARDIAN NOW</a>
                </div>
            </div>
            <div class="row mt-md-5 mt-4 p-md-0 p-4">
                <div class="col-12 offer-red p-md-4 p-3">
                    <h2>
                        <span class="text-red">Claim Your Zap Guardian Now,</span>
                        <br>or Risk Paying Full Price Tomorrow.
                    </h2>
                    <p class="mb-md-3">(Take advantage of our One-Time 50% OFF Sale - It's ending soon!)</p>
                    <h5 class="px-4"><a href="/checkout4/">Click Here to Claim Your 50% OFF Discount</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>