<section class="sec9">
  <div class="container">
    <span id="dots"></span>
    <h3>
      <a id="myBtn" class="text-center text-underline d-block"
        >Frequently Asked Questions</a>
    </h3>
    <div id="more">
      <div class="accordion px-md-1 px-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              How long will my order take to arrive?
            </button>
          </h2>

          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                All orders will be shipped USPS within 48 hours after order
                confirmation. Please allow 2-5 business days for standard
                delivery. You will receive an email confirmation with your
                tracking number after your order is shipped. You may track your
                package or sign up for SMS shipping alerts by going to the
                carrier’s website, www.USPS.com.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              How is the Zap Guardian Bug Zapper charged?
            </button>
          </h2>

          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                It is charged by solar energy great for long camping &amp;
                hiking trips. Also charges with USB via your phone charger,
                power bank &amp; even your laptop!
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              How long does the battery last?
            </button>
          </h2>

          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Not only does the lantern give off the perfect glow, it also
                performs well and has a long lifespan. For each charge, this
                lantern has 24 hours of battery life- while in mosquito zapping
                mode.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Can you hang the Zap Guardian Bug Zapper?
            </button>
          </h2>

          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                This LED lantern with mosquito killer also has a convenient
                hook, which makes it easy to hang from a branch, in your tent or
                patio. Making these places mosquito free.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              What is the coverage zone?
            </button>
          </h2>

          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                The lantern effectively clears 16ft. by 16ft. area, providing
                you with an insect free zone with no mosquitoes, moths and flies
                and bugs.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              Are there different lighting modes?
            </button>
          </h2>

          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                4 lighting modes - The low setting gives off 20% of the lamp's
                light. The middle level gives off 50% of the lamp's light and
                there's also a high setting that gives off 100% of the lamp's
                light. However, the mosquito zapper setting is probably the best
                setting on this lamp.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseSeven"
            >
              Is the Zap Guardian Bug Zapper portable?
            </button>
          </h2>

          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                It can be used both indoors &amp; outdoors. 100% noise-free
                &amp; can be used anywhere at any time without causing any
                disturbance, guaranteed.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseSeven"
            >
              Is the product safe?
            </button>
          </h2>

          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Yes. Does not use any chemicals, fumes, or contraption that can
                be harmful to you, while also being 100% eco-friendly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
