<section class="sec11">
    <div class="row text-center py-3">
        <div class="col d-md-flex justify-content-center">
            <h5 class="align-self-center">50% Discount <br><span class="text-light me-4">on Zap Guardian Today</span></h5><a href="/checkout4/" class="orderNwbtn pulse">GET 50% OFF ZAP GUARDIAN NOW </a>
        </div>
    </div>
</section>