.container {
  --_max-width: 1140px;
  --_padding: 1rem;

  width: min(var(--_max-width), 98% - (2 * var(--_padding)));
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fbfaf5;
}
/* 
.bannerMain {
  padding: 1rem 0 2.5rem 0;
  position: relative; /*background: url("../images/banner-bg.png") no-repeat center right / cover;*/
  /* background-color: #fbfaf5;
} 

.bannerMain .container {
  max-width: 1300px;
  position: relative;
}

.bannerMain h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 60px;
}
.bannerMain h2 span {
  position: relative;
  z-index: 1;
}
.bannerMain h2 span::after {
  content: " ";
  background: #fff2af;
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 5px;
  z-index: -1;
}
.bannerMain h4 {
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 15px;
}

.bannerMain p {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 15px;
}

.bannerMain ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.bannerMain li {
  position: relative;
  padding-left: 35px;
  font-size: 18px;
  margin-bottom: 10px;
}

.bannerMain li::after {
  content: " ";
  background: url("../images/blue-tick.svg") no-repeat center center / contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}

.bannerMain .orderNwbtn {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.bannerMain .orderNwbtn span {
  color: #ffd800;
}

@media (max-width: 1199px) {
  .bannerMain {
    padding: 2rem 0;
  }

  .bannerImg2 img{object-fit: unset;}

  .ratingAr img {
    margin-right: 10px;
  }

  .bannerImg2 {
    height: 580px;
    width: 50%;
  }

  .bannerMain p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .bannerMain li {
    font-size: 16px;
  }

  .bannerMain ul {
    margin-bottom: 20px;
    padding-right: 155px;
  }

  .feat-2 {
    width: 100%;
    display: block;
  }

  .sec3Cnt1 {
    padding-bottom: 4rem;
  }

  .sec3Cnt1 h2 {
    padding-top: 0;
  }

  .cmpcol3Inr h3 {
    padding: 8px 0;
  }

  .sec6Cnt1 {
    padding-top: 0rem;
  }

  .sec7 h3 {
    font-size: 33px;
  }

  .sec8 {
    padding: 0rem 0 1rem 0;
  }

  .sec8 .bannerMain {
    padding: 1rem 0 3rem 0;
  }

  .sec8 .bannerMain h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .sec8 .bnrImg3 {
    position: absolute;
    top: 0%;
    left: 45%;
    width: 100%;
    max-width: 650px;
  }

  .sec8 .bannerImg2 {
    height: 550px;
  }

  .sec8 .shipArs p {
    margin-bottom: 0;
  }

  .bnrImg3 {
    width: 700px;
  }
} 
*/
