<div class="md:p-12 mt-[26px] p-4">
  <img
    class="md:block hidden mx-auto"
    src="/images/seen-on-grey.png"
    alt=""
  />
  <img
    class="w-75 md:hidden block mx-auto"
    src="/images/seen-on-grey-mob.png"
    alt=""
  />
</div>
