<footer class="custmFtr">

  <div class="container">
      <img class="img-fluid mb-4" src="/images/logo.png" alt="">
      <p class="mb-1"><a target="_blank" href="/contact">Contact Us</a>   |    <a target="_blank" href="/privacy">Privacy Policy</a>   |    <a target="_blank" href="/terms">Terms of Use</a></p>
  </div>
  <hr>
  <div class="container">
      <p>Copyright © <!--?= date('Y'); ?--> Zap Guardian | All Rights Reserved.</p>

  </div>
  <div class="col-12 mt-3 text-center dcma">
      <a href="https://www.dmca.com/Protection/Status.aspx?ID=b3070e72-29d3-4eec-ae61-14b5b2e2d660&amp;refurl=https://3dmagicpen.com/checkout0/?loader=0" target="_blank">
          <img src="/images/dcma-protected.png" alt="dcma-protected" class="img-fluid" style="height:30px;">
      </a>
  </div>
</footer>