---
import Nav from "../header/Nav.astro";
---

<header>
  <div class="bg-accent-yellow py-[5px] text-center font-bold text-lg">
    <p>Today Only: 50% Off! Limited Time Offer.</p>
  </div>
  <Nav />
</header>

