---
interface Props {
  class?: string;
  id?: string;
}

const { class: classList, id, ...props } = Astro.props;
---

<section class=`${classList}` id={id} {...props}>
  <div class="container">
    <slot />
  </div>
</section>
